* {
    margin:0;
    padding:0;
}

.task-list {
    padding: 1em;
    margin: 10px;
    color: black;
    border-radius: 5px;
    background-color: #ebecf0;
}

.note {
    background-color: transparent;
}

#title {
    padding: 15px;
    position: relative;
    background-color: transparent;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.drop-area {
    min-height: 50em;
    background-color: #ebecf0;
    padding: 10px;
    border-radius: 5px;
}